model_config_list {
  config {
    name: "potato_early_blight"
    base_path: "/Potato disease classifications/models/1"
    model_platform: "tensorflow"
    model_version_policy { all {} }
  }
  config {
    name: "potato_late_blight"
    base_path: "/Potato disease classifications/models/2"
    model_platform: "tensorflow"
    model_version_policy { all {} }
  }
  
}
